body {
    background-color: white;
}

.box1 {
    background-color: #ccc;
    text-align: center;
    vertical-align: middle;
    height: 349.5px;
    width: 550px;
    font-size: 21px;
    border: solid 3px red;
    font-family: 'helvetica', sans-serif;;
    font-weight: bold;
    line-height: 20px;
    margin: auto;
}

.screen {
    padding: 12%;
}


.logo {
    max-width: 80px;
    max-height: 80px;
}

.h5 {
    text-align: left;
}

.box2 {
    background-color: rgb(167, 167, 167);
    height: 235px;
    font-weight: lighter;
    font-size: 18px;
    line-height: 15px;
}

form {
    line-height: 22px;
}

.usernamebox {
    width: 230px;
}

.passbox {
    width: 230px;
}

.button {
    position: relative;
    left: 29%;
    font-size: 15px;
    padding-right: 3px;
    padding-left: 3px;
}

*{
    margin: 0px;
    padding: 0px;
}

