body {
    background-color: white;
}

.box1 {
    background-color: #eeeeee;
    text-align: center;
    vertical-align: middle;
    height: 345px;
    width: 500px;
    font-size: 18px;
    border: solid 2px red;
    font-family: 'helvetica', sans-serif;
    line-height: 20px;
    margin: auto;
}

.screen {
    padding: 13%;
}


.logo {
    width: 65px;
    height: 81.25px;
}

.h5 {
    text-align: left;
}

.box2 {
    background-color: #cccccc;
    height: 220.5px;
    font-weight: lighter;
    font-size: 16px;
    line-height: 13px;
}

form {
    position: relative;
    right: 3%;
    line-height: 21px;
    font-size: 16px;
}

.usernamebox {
    width: 233px;
    height: 17px;
}

.passbox {
    width: 233px;
    height: 17px;
}

.button {
    position: relative;
    left: 29%;
    font-size: 13.5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

*{
    margin: 0px;
    padding: 0px;
}

